body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.overflow-wrapper {
  background-color: #FAF9F6; /* Set this to your app's background color */
  min-height: 100vh;
}

.hero {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: transparent;
}

.about-me {
  background-color: transparent;
  color: black;
}


.hero-content h1, .hero-content h2, .hero-content h3.hero-name {
  color: black;
  line-height: 0.96;
  

}
@media (max-width: 768px) {
  .hero-content h1, .hero-content h2, .hero-content h3.hero-name {
    line-height: 1;
  }
}
