body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #121212; 
}

.hero {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: transparent;
}

.about-me {
  background-color: #121212;
  color: #FAF9F6;
}

.page-reveal {
  background-color: #f6f7fa;
}

.hero-content h1, .hero-content h2, .hero-content h3 {
  margin: 0;
  line-height: 0.9;
  color: white;
}
